<!DOCTYPE html>
<html lang="en">
<head>
    <title>SDB</title>
  
</head>
<body>
<div class="main">
	<div class="welcome-div">
	<h1 class="welcome">WELCOME</h1>
	</div>

	<div class="content">
		<div class="main-content">
			<form method="get" action="">
				<input type="text" placeholder="username..." class="text" name="text"><br>
				<input type="password" placeholder="password***" class="pass" name="pass"><br>
				<input type="submit" class="btn" id="tn" value="LOGIN">
			</form>
		</div>
	</div>
</div>
</body>
</html>
