	<div class="nav">
		<ul class="nav_ul">
			<li>FIND
				<ul class="sub_ul">
					<li><a href="/find/teacher">FIND TEACHERS</a>
					<li><a href="/find/student">FIND STUDENTS</a></li>
					<li><a href="/find/fees/unpaid">FIND UNPAID</a></li>
				</ul>
			</li>
				<li><a href="/add/student">ADMISSION</a></li>
					<li><a href="/add/teacher">APPOINT</a></li>
					<li><a href="/find/student">FEES</a></li>
					<li><a href="/find/teacher">SALARY</a></li>
		</ul>
	</div>